@charset "utf-8";

// Import a Google Font & fontawsome icons
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://use.fontawesome.com/releases/v5.0.0/js/all.js');


// Set your brand colors
$blue: #231865;
$caramel: #bf7e04;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$link: $caramel;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


@import "../bulma/bulma.sass";